@inject NavigationManager NavManager
@inject UserState userState

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SnakeVS</a>
        
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <button @onclick="goBack">Go back</button>
        <br />
        <p style="color:white;">@userState.UserName</p><br />
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        NavManager.LocationChanged += (s, e) =>
        {
            this.StateHasChanged();
        };
        return base.OnAfterRenderAsync(firstRender);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void goBack()
    {
        NavManager.NavigateTo("/");
    }
}
