@page "/"

@inject UserState userState
@inject NavigationManager NavManager

<input @bind-value="userNameValue"/>
<button @onclick="setUserName">OK</button>
@code {
	private string userNameValue;
	protected void setUserName()
	{
		userState.UserName = userNameValue;
		NavManager.NavigateTo("/game");
	}
}
