@page "/"
@using Blazored.LocalStorage
@using SnakeVS.Shared
@using Microsoft.AspNetCore.SignalR.Client
@using MessagePack
@using SnakeVS.Shared.Response

@inject UserState userState
@inject NavigationManager NavManager
@inject ILocalStorageService localStorageConnector;


<input @bind-value="userNameValue" placeholder="Username"/>
@if (rooms != null)
{
    <table style="border: 1px solid black">
        <tr>
            <td width=20px>
                
            </td>
            <td width=150px>
                Nazwa
            </td>
            <td width=50px style="text-align:center;">
                C
            </td>
            <td width=70px>

            </td>
        </tr>
        @foreach (var room in rooms)
        {
            <tr>
                <td>
                    @lastRoom(room.Id)
                </td>
                <td>
                    @room.Name
                </td>
                <td style="text-align:center;">
                    @room.PlayerCount / 2
                </td>
                <td style="text-align:center;">
                    <button @onclick="() => JoinRoom(room.Id)"> Enter</button>
                </td>
            </tr>
        }
        <tr>
            <td>
                
            </td>
            <td>
                <input type="text" @bind-value="roomNameValue" placeholder="New room"/>
            </td>
            <td>
                
            </td>
            <td style="text-align:center;">
                <button @onclick="() => CreateRoom(roomNameValue)" >Add</button>
            </td>
        </tr>
    </table>
    
}
else
{
    <p>Loading rooms...</p>
}
@code {
    private HubConnection? hubConnection;
    private string userNameValue;
    private string roomNameValue;
    private List<ListedRoom> rooms;
    private LocalStorageService localStorage;
    private Guid lastRoomGuid;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        localStorage = new LocalStorageService(localStorageConnector);
        userNameValue = await localStorage.GetUserName();
        lastRoomGuid = await localStorage.GetLastRoom();
        if(hubConnection == null)
        {
            hubConnection = new HubConnectionBuilder()
                .WithUrl(NavManager.ToAbsoluteUri($"/roomshub"))
                .AddMessagePackProtocol(options =>
                {
                    options.SerializerOptions =
                        MessagePackSerializerOptions.Standard;//.WithCompression(MessagePackCompression.Lz4BlockArray);
            })
                .Build();
        }

        hubConnection.On<ListedRoom[]>("GetRooms", (rooms_) =>
        {
            rooms = new List<ListedRoom>(rooms_);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
        await hubConnection.SendAsync("ListRooms");
    }

    private async Task JoinRoom(Guid roomGuid)
    {
        if (String.IsNullOrEmpty(userNameValue)) return;
        userState.UserName = userNameValue;
        await localStorage.SetUserName(userNameValue);
        await localStorage.SetLastRoom(roomGuid);
        NavManager.NavigateTo($"/game/{roomGuid}");
    }

    private async Task CreateRoom(string roomName)
    {
        if (!rooms.Any(p => p.Name.Trim().ToUpper() == roomName))
        {
            await hubConnection.SendAsync("CreateRoom", roomName);
            roomNameValue = "";
        }
    }

    private string lastRoom(Guid guid)
    {
        if (guid == lastRoomGuid) return "☀";
        return "";

    }

}
